.navigation {
  background-color: #fff;
  display: grid;
  grid-template-columns: 27px 27px 27px 27px;
  column-gap: 68px;
  justify-items: center;
  align-items: center;
  align-self: center;
  height: 49px;
  padding: 6px 31.5px;
  box-sizing: border-box;
}

.navigation-link {
  text-decoration: none;
  color: #d4d4d4;
  width: 27px;
  height: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.navigation > img {
  top: 0;
}

.navigation-link > p {
  margin: -5px;
  font-size: 10px;
  font-weight: 500;
}
